<form action="/auth/signup" method="post" enctype="multipart/form-data">
	<label for="username">Username:</label>
	<input type="text" name="username">
	<label for="email">Email:</label>
	<input type="email" name="email">
	<label for="pass">Password:</label>
 	<input name="password" id="pass" type="password" placeholder="6 digits, a combination of numbers and letters" required>
	<input name="signup" type="submit" value="Signup">
</form>